{% extends 'base.html' %}

<title>{%block title%}post_detail{%endblock%}</title>
{% block content %}
    <h2>{{object.title}}</h2>
    <p>
        {% if object.get_previous %}
        <a href="{{ object.get_previous.get_absolute_url }}" title="View previoust post?">
            &laquo;-- {{ object.get_previous }}
            <!-- &laquo; -> html특수문자 -->
        </a>

        {% else %}
        no page

        {% endif %}

        📄📌
        
        {% if object.get_next %}
        <a href="{{ object.get_next.get_absolute_url }}" title="View next post?">
            {{ object.get_next }} --&raquo;
            <!-- &laquo; -> html특수문자 -->
        </a>
        {% else %}
        no page

        {% endif %}
    </p>
    
    <p>{{ object.modify_dt|date:"j F Y" }}</p>
    <br>

    <div>
        {{ object.content|linebreaks}}
        <!-- |linebreaks -> 새로운 line을 인식하게 함 -->
    </div>
{%endblock%}
