{% extends "base.html" %}

{% block content %}
    <h1>Post Create/Update = {{user}}</h1>
    {% if form.errors %}
    {{form.errors}}
    {% endif %}

    <form action="." method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <span>title : {{form.title}}</span><br>
        <span>description : {{form.description}}</span><br>
        <span>content : {{form.content}}</span>
        <span>image : {{form.image}}</span>
        <input type="submit" value="Submit">
    </form>


{% endblock %}