{% extends 'base.html' %}

{%block title%}post_detail{%endblock%}
{% block content %}
{% load static %}
    <h2>{{object.title}}</h2>
    <p>
        {% if object.get_previous %}
        <a href="{{ object.get_previous.get_absolute_url }}" title="View previoust post?">
            &laquo;-- {{ object.get_previous }}
            <!-- &laquo; -> html특수문자 -->
        </a>

        {% else %}
        no page

        {% endif %}

        📄📌
        
        {% if object.get_next %}
        <a href="{{ object.get_next.get_absolute_url }}" title="View next post?">
            {{ object.get_next }} --&raquo;
            <!-- &laquo; -> html특수문자 -->
        </a>
        {% else %}
        no page

        {% endif %}
    </p>
    
    <!-- post_detail -->
    <p>{{ object.modify_dt|date:"j F Y" }}</p>
    <br>
    <div>
        {{ object.content|linebreaks}}
        <!-- |linebreaks -> 새로운 line을 인식하게 함 -->
        {% if object.image %}
        <img src="{{object.image.url}}">
        {% endif %}
        <form method="POST" action="{% url 'blogs:likes' object.id object.slug%}">
            {% csrf_token %}
            <input type="submit" value="좋아요">
        </form>
       
        {{object.likes.count}}
    </div>
    <br>


    <!-- Comment -->
    <div>
        <form method="POST" action="{% url 'blogs:create_comment' object.id object.slug %}">
            {%csrf_token%}
            {{commentform}}
            <input type="submit" value="작성">
        </form>
        {% for comments in object.comment_set.all %}
        <span>comments : {{comments.body}}
            <a href="{% url 'blogs:delete_comment' comments.id object.slug%}">삭제</a>
            {% for recomments in comments.recomment_set.all %}
            <br>recomments : {{recomments.body}}
            <a href="{% url 'blogs:delete_recomment' recomments.id object.slug %}">삭제</a>
            {% endfor %}
            <form method="POST" action="{% url 'blogs:create_recomment' comments.id object.slug %}">
                {%csrf_token%}
                {{recommentform}}
                <input type="submit" value="작성">
            </form>
        </span><br>
        {% endfor %}
    </div>

    <!-- TAG -->
    <div>
        <b>TAGS</b><i class="fas fa-tag"></i>
        {% load taggit_templatetags2_tags %}
        <!-- taggit_templatetags2 <- 요 패키지에 정의된 커스텀 태그 이용 위해 호출!-->
        {% get_tags_for_object object as "tags" %}
        <!-- 요놈이 그 커스텀 태그! object 객체(view에서 보내준 Post모델)
            에 달려 있는 태그들의 리스트 추출 -> 이를 tags로 정의해 html에서 사용-->
        {% for tag in tags %}
        <a href="{% url 'blogs:tagged_object_list' tag.name %}">{{tag.name}}</a>
        <!-- .name은 어디에? -> taggit 패키지-Tag 테이블에! -->
        {% endfor %} 
        &emsp;
        <a href="{% url 'blogs:tag_cloud' %}"><span>TAGCLOUD</span></a>
    </div>

    

{%endblock%}
