{%extends "base.html"%}
{% load widget_tweaks %}
{%block title%}password_change{%endblock%}

{% block content %}
    <h1>{{title}}</h1>
    {% if form.errors %}
    {{form.errors}}
    {% endif %}

    <form action="." method="POST">
        {% csrf_token %}
        <div>
        oldpassword : {{form.old_password}}
        </div>
        <div>
        new_password : {{form.new_password1}}
        new_password : {{form.new_password2}}
        </div>
        <input type="submit" value="Password Change">
    </form>

{% endblock %}